@page "/establecimientos"
@using PaginaToros.Client.Servicios.Contrato;
@using PaginaToros.Shared.Models.Response
@using PaginaToros.Shared.Models
@inject IEstableServicio _estableServicio
<style>

    .rz-cell-data,
    .rz-column-title-content {
        font-size: 13px !important;
    }

    .rz-cell-data {
        overflow: visible !important;
        white-space: normal !important;
    }

    .tablacontent th.rz-unselectable-text.rz-text-align-left {
        background-color: #82D682;
    }
    .rz-paginator{
        border-top: solid #E0E0E0 1px;
    }
    
</style>
<h3 class="pb-3 font-bold text-xl" style="position:relative;left:3.33%">Establecimientos</h3>


<button class="font-bold px-4 py-3 rounded-2xl bg-gray-200 hover:bg-gray-300 hover:border-transparent transition ease-in duration-100 transform hover:-translate-y-1 active:translate-y-0" style="position:relative;left:3.33%" @onclick="()=>add(0)">Agregar Establecimiento</button>



@if (oRespuesta.List != null)
{

    <button style="outline:none; float: right;margin-right:3%;height:100%;" class="px-3 py-3 rounded-2xl bg-gray-200 hover:bg-gray-300 hover:border-transparent transition ease-in duration-100 transform hover:-translate-y-1 active:translate-y-0" @onclick="() => CambiarModoFiltro()"><FeatherFilter Color="Black"></FeatherFilter></button>
    <br />
    <br />
    <div class="tablacontent" style="position:relative;width:93.5%;left:3.33%">
        <RadzenDataGrid AllowFiltering="allowFiltering" AllowColumnResize="true" AllowAllowAlternatingRows="true" FilterMode="FilterMode.Simple" AllowSorting="false" PageSize="15"
                    Density="Density.Compact" AllowPaging="true" ShowPagingSummary="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @ref="grid"
                    Count="@cantidad" LoadData="LoadData" IsLoading="@isLoading" Data="@oRespuesta.List" TItem="EstableDTO" ColumnWidth="3.33%" LogicalFilterOperator="LogicalFilterOperator.Or" PagerHorizontalAlign="HorizontalAlign.Center">
            <Columns>
                <RadzenDataGridColumn TItem="EstableDTO" Property="Ecod" Title="Cod. Establ." Width="3.6%" />
                <RadzenDataGridColumn TItem="EstableDTO" Property="Socio.Nombre" Title="Socio" Width="7.34%"/>
                <RadzenDataGridColumn TItem="EstableDTO" Property="Activo" Title="Activo?" Width="3.6%">
                    <Template Context="data">
                        @if(data.Activo=="S"){
                            <a style="color:darkgreen">Si</a>
                        }
                        else
                        {
                            <a style="color:red">No</a>
                        }
                    </Template>    
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="EstableDTO" Property="Nombre" Title="Nombre" Width="6.6%" />
                <RadzenDataGridColumn TItem="EstableDTO" Property="Encargado" Title="Encargado" Width="4.6%" />
                <RadzenDataGridColumn TItem="EstableDTO" Property="Domicilio" Title="Domicilio" Width="4.6%" />
                <RadzenDataGridColumn TItem="EstableDTO" Property="Telefono" Title="Telefono" Width="5%" />
                <RadzenDataGridColumn TItem="EstableDTO" Property="Localidad" Title="Localidad" Width="5%" />
                <RadzenDataGridColumn TItem="EstableDTO" Property="CodPostal" Title="Codigo Postal" Width="5.6%" />
                <RadzenDataGridColumn TItem="EstableDTO" Property="provincia" Title="Provincia" Width="5%"/>
                <RadzenDataGridColumn TItem="EstableDTO" Property="Informacion" Title="Informacion" Width="5.3%" />
                <RadzenDataGridColumn TItem="EstableDTO" Property="CodZona" Title="Cod. zona" Width="4.6%" />
                <RadzenDataGridColumn TItem="EstableDTO" Property="AnioCreacion" Title="Año Creacion" Width="5.6%" />
                <RadzenDataGridColumn TItem="EstableDTO" Property="" Title="" Filterable="false" Width="3.33%">
                    <Template Context="data">
                        <button class="btn" position="absolute" title="Editar Establecimiento" @onclick="() => add(data.Id)"><FeatherEdit Size="16" Color="green" /></button>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="EstableDTO" Property="" Title="" Filterable="false" Width="3.33%">
                    <Template Context="data">
                        <button class="btn" title="Eliminar" @onclick="() => alertaDelete(data.Id)"><FeatherTrash2 Size="16" Color="red" /></button>
                    </Template>
                </RadzenDataGridColumn>
@*                <RadzenDataGridColumn TItem="Estable" Property="" Title="" Filterable="false" Width="30px">
                    <Template Context="data">
                        <button class="btn" title="Ver info" @onclick="() => gotoinfo(data.Id)"><FeatherInfo Size="16" Color="blue" /></button>
                    </Template>
                </RadzenDataGridColumn> *@
            </Columns>

        </RadzenDataGrid>
    </div>
    <br/>
}
else
{
    <br />  
    <center>
        <div class="mb-2">
            <br />
            <RadzenProgressBar style="position:relative;width:93.5%" Value="100" ShowValue="false" ProgressBarStyle="ProgressBarStyle.Primary" Mode="ProgressBarMode.Indeterminate" />
        </div>
    </center>
}


@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    public RadzenDataGrid<EstableDTO>? grid;
    int currentPage;
    int cantidad;
    bool isLoading = false;
    public bool allowFiltering = false;
    Dictionary<string, string> traductorProvincia = new Dictionary<string, string>
    {
        {"01", "Chaco"},
        {"02", "Corrientes"},
        {"03", "Entre Rios"},
        {"04", "Santa Fe"},
        {"05", "Cordoba"},
        {"06", "La pampa"},
        {"07", "San Luis"},
        {"08", "Santa Cruz"},
        {"09", "Tierra del fuego"},
        {"10", "Chubut"},
        {"11", "Neuquen"},
        {"12", "Rio negro"},
        {"13", "Buenos Aires"},
        {"14", "Capital Federal"},
        {"15", "Catamarca"},
        {"16", "Formosa"},
        {"17", "Jujuy"},
        {"18", "La rioja"},
        {"19", "Mendoza"},
        {"20", "Misiones"},
        {"21", "Salta"},
        {"22", "San Juan"},
        {"23", "Santiago Del Estero"},
        {"24", "Tucuman"},
        {"",""}
    };
    public Respuesta<List<EstableDTO>> oRespuesta = new Respuesta<List<EstableDTO>>();
    protected override async Task OnInitializedAsync()
    {
        await Get();
    }
    async Task Get()
    {
        var cant = await _estableServicio.CantidadTotal();
        cantidad = cant.List;
        oRespuesta = await _estableServicio.Lista(0, 45);
    }
    public void CambiarModoFiltro()
    {
        allowFiltering = !allowFiltering;
        StateHasChanged();
    }

    async Task delete(int id)
    {
        currentPage = grid.CurrentPage;
        var response = await _estableServicio.Eliminar(id);
        if (response)
        {
            oRespuesta.List.Remove(oRespuesta.List.Where(x => x.Id == id).FirstOrDefault());

            if (currentPage >= grid.Count / grid.PageSize && grid.Count != 0)
            {
                await grid.GoToPage(currentPage - 1);
            }
            else if (grid.Count != 0)
            {
                await grid.GoToPage(currentPage);
            }
            StateHasChanged();
        }

    }

    public async Task alertaDelete(int id)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "¿Está seguro?",
                Text = "Se eliminará este establecimiento y sus toros",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Eliminar",
                CancelButtonText = "Cancelar"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            delete(id);

        }
        else if (result.Dismiss == DismissReason.Cancel)
        {

        }
    }

    async Task add(int Id)
    {
        int numero = Id;
        if (numero != 0)
        {
            currentPage = grid.CurrentPage;
            try
            {
                var parameters = new ModalParameters();
                parameters.Add(nameof(AddEstablecimiento.Id), Id);
                var options = new ModalOptions()
                    {
                        Size = ModalSize.ExtraLarge
                    };
                var formModal = Modal.Show<AddEstablecimiento>("Editar Establecimiento",parameters,options);
                var result = await formModal.Result;
                if (result.Cancelled)
                {
                    Console.WriteLine("Modal was cancelled");
                    await grid.GoToPage(currentPage);
                }
                else
                {
                    await Get();
                    await grid.GoToPage(currentPage);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }
        else
        {
            var options = new ModalOptions()
                {
                    Size = ModalSize.ExtraLarge
                };
            var formModal = Modal.Show<AddEstablecimiento>("Agregar Establecimiento",options);
            var result = await formModal.Result;

            if (result.Cancelled)
            {
                Console.WriteLine("Modal was cancelled");
                await grid.GoToPage(currentPage);
            }
            else
            {
                await Get();
                await grid.GoToPage(currentPage);
            }
        }
    }
    async Task gotoinfo(int id)
    {
        currentPage = grid.CurrentPage;
        var parameters = new ModalParameters();
        var options = new ModalOptions()
            {
                HideHeader = true,
                HideCloseButton = true,
                Size=ModalSize.ExtraLarge
            };
        parameters.Add(nameof(InfoEstablecimiento.id), id);
        var formModal = Modal.Show<InfoEstablecimiento>("", parameters, options);
        var result = await formModal.Result;

        if (result.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
            await grid.GoToPage(currentPage);
        }
        else
        {
            await Get();
            await grid.GoToPage(currentPage);
        }
    }
    async Task LoadData(LoadDataArgs args)
    {
        isLoading = true;
        if (!string.IsNullOrEmpty(args.Filter))
        {
            oRespuesta = await _estableServicio.LimitadosFiltrados(args.Skip.Value, args.Top.Value, args.Filter);
            // oRespuesta.List = oRespuesta.List.Where(args.Filter)
        }
        else
        {
            oRespuesta = await _estableServicio.Lista(args.Skip.Value, args.Top.Value);
            var can = await _estableServicio.CantidadTotal();
            cantidad = can.List;
        }

        isLoading = false;
    }
}
