@*@page "/transsb"*@
@using PaginaToros.Shared.Models.Response
@using PaginaToros.Shared.Models
@using PaginaToros.Client.Servicios.Contrato;
@inject ITranssbServicio _transsbServicio
<style>

    .rz-cell-data,
    .rz-column-title-content {
        font-size: 13px !important;
    }

    .rz-cell-data {
        overflow: visible !important;
        white-space: normal !important;
    }

    .tablacontent th.rz-unselectable-text.rz-text-align-left {
        background-color: #82D682;
    }

    .rz-paginator {
        border-top: solid #E0E0E0 1px;
    }
</style>
<h3 class="pb-3 font-bold text-xl" style="position:relative;left:3.33%">Transferencias S/</h3>


<button class="font-bold px-4 py-3 rounded-2xl bg-gray-200 hover:bg-gray-300 hover:border-transparent transition ease-in duration-100 transform hover:-translate-y-1 active:translate-y-0" style="position:relative;left:3.33%" @onclick='()=>add(0)'>Agregar Transferencia</button>



@if (oRespuesta.List != null)
{

    <button style="outline:none; float: right;margin-right:3%;height:100%;" class="px-3 py-3 rounded-2xl bg-gray-200 hover:bg-gray-300 hover:border-transparent transition ease-in duration-100 transform hover:-translate-y-1 active:translate-y-0" @onclick="() => CambiarModoFiltro()"><FeatherFilter Color="Black"></FeatherFilter></button>
    <br />
    <br />
    <div class="tablacontent" style="position:relative;width:93.5%;left:3.33%">
        <RadzenDataGrid AllowFiltering="allowFiltering" IsLoading="isLoading" AllowColumnResize="true" AllowAllowAlternatingRows="true" FilterMode="FilterMode.Simple" AllowSorting="false" PageSize="15"
                        Density="Density.Compact" AllowPaging="true" ShowPagingSummary="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @ref="grid"
                        Count="cantidad" LoadData="LoadData" Data="@oRespuesta.List" TItem="TranssbDTO" ColumnWidth="3.33%" LogicalFilterOperator="LogicalFilterOperator.Or" PagerHorizontalAlign="HorizontalAlign.Center">
            <Columns>
                <RadzenDataGridColumn TItem="TranssbDTO" Property="NroTrans" Title="Nro Certificado" Width="24%" />
                <RadzenDataGridColumn TItem="TranssbDTO" Property="NroOrden" Title="Nro Orden" Width="24%" />
                <RadzenDataGridColumn TItem="TranssbDTO" Property="Vnom" Title="Socio Vendedor" Width="24%"/>
                <RadzenDataGridColumn TItem="TranssbDTO" Property="Cnom" Title="Socio Comprador" Width="24%" />
                <RadzenDataGridColumn TItem="TranssbDTO" Property="NombreEstablecimiento" Title="Establecimiento" Width="24%"/>
                <RadzenDataGridColumn TItem="TranssbDTO" Property="" Title="" Filterable="false" Width="3.33%">
                    <Template Context="data">
                        <button class="btn" position="absolute" title="Editar Certificado" @onclick="() => add(data.Id)"><FeatherEdit Size="16" Color="green" /></button>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="TranssbDTO" Property="" Title="" Filterable="false" Width="3.33%">
                    <Template Context="data">
                        <button class="btn" title="Eliminar" @onclick="() => alertaDelete(data.Id)"><FeatherTrash2 Size="16" Color="red" /></button>
                    </Template>
                </RadzenDataGridColumn>
                @*            <RadzenDataGridColumn TItem="Estable" Property="" Title="" Filterable="false" Width="30px">
            <Template Context="data">
            <button class="btn" title="Ver info" @onclick="() => gotoinfo(data.Id)"><FeatherInfo Color="blue" /></button>
            </Template>
            </RadzenDataGridColumn>*@
            </Columns>

        </RadzenDataGrid>
    </div>
    <br />
}
else
{
    <br />
    <center>
        <div class="mb-2">
            <br />
            <RadzenProgressBar style="position:relative;width:93.5%" Value="100" ShowValue="false" ProgressBarStyle="ProgressBarStyle.Primary" Mode="ProgressBarMode.Indeterminate" />
        </div>
    </center>
}
@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    public RadzenDataGrid<TranssbDTO>? grid;
    int currentPage;
    Dictionary<string, string> traductorTipo = new Dictionary<string, string>{
        {"P","Puro Pedigree (SRA)"},
        {"S","S/"},
        {"A","Patagonico"}
    };
    public bool allowFiltering = false;
    bool isLoading=false;
    int cantidad;
    public Respuesta<List<TranssbDTO>> oRespuesta = new Respuesta<List<TranssbDTO>>();
    List<Estable> establecimientos = new();
    protected override async Task OnInitializedAsync()
    {
        await Get();
    }
    async Task Get()
    {
        var c = await _transsbServicio.CantidadTotal();
        cantidad = c.List;
        oRespuesta= await _transsbServicio.Lista(0,15);
        StateHasChanged();
    }
    public void CambiarModoFiltro()
    {
        allowFiltering = !allowFiltering;
        StateHasChanged();
    }

    async Task delete(int id)
    {
        currentPage = grid.CurrentPage;
        var response = await _transsbServicio.Eliminar(id);
        if (response)
        {
            oRespuesta.List.Remove(oRespuesta.List.Where(x => x.Id == id).FirstOrDefault());

            if (currentPage >= grid.Count / grid.PageSize && grid.Count != 0)
            {
                await grid.GoToPage(currentPage - 1);
            }
            else if (grid.Count != 0)
            {
                await grid.GoToPage(currentPage);
            }
        }

    }

    public async Task alertaDelete(int id)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "¿Está seguro?",
                Text = "Se eliminará esta transferencia",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Eliminar",
                CancelButtonText = "Cancelar"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            delete(id);

        }
        else if (result.Dismiss == DismissReason.Cancel)
        {

        }
    }

    async Task add(int Id)
    {
        int numero = Id;
        if (numero != 0)
        {
            currentPage = grid.CurrentPage;
            try
            {
                var parameters = new ModalParameters();
                parameters.Add(nameof(AddTransSb.Id), Id);
                var options = new ModalOptions()
                    {
                        Size = ModalSize.ExtraLarge
                    };
                var formModal = Modal.Show<AddTransSb>("Editar Transaccion", parameters, options);
                var result = await formModal.Result;
                if (result.Cancelled)
                {
                    Console.WriteLine("Modal was cancelled");
                    await grid.GoToPage(currentPage);
                }
                else
                {
                    await Get();
                    await grid.GoToPage(currentPage);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }
        else
        {
            var options = new ModalOptions()
                {
                    Size = ModalSize.ExtraLarge
                };
            var formModal = Modal.Show<AddTransSb>("Agregar Transferencia", options);
            var result = await formModal.Result;

            if (result.Cancelled)
            {
                Console.WriteLine("Modal was cancelled");
                await grid.GoToPage(currentPage);
            }
            else
            {
                await Get();
                await grid.GoToPage(currentPage);
            }
        }
    }

    async Task LoadData(LoadDataArgs args)
    {
        isLoading = true;
        if (!string.IsNullOrEmpty(args.Filter))
        {
            oRespuesta = await _transsbServicio.LimitadosFiltrados(args.Skip.Value, args.Top.Value, args.Filter);
            // oRespuesta.List = oRespuesta.List.Where(args.Filter)
        }
        else
        {
            oRespuesta = await _transsbServicio.Lista(args.Skip.Value, args.Top.Value);
            var can = await _transsbServicio.CantidadTotal();
            cantidad = can.List;
        }

        isLoading = false;
    }


    // async Task gotoinfo(int id)
    // {
    //     currentPage = grid.CurrentPage;
    //     var parameters = new ModalParameters();
    //     var options = new ModalOptions()
    //         {
    //             HideHeader = true,
    //             HideCloseButton = true,
    //             Size = ModalSize.ExtraLarge
    //         };
    //     parameters.Add(nameof(InfoEstablecimiento.id), id);
    //     var formModal = Modal.Show<InfoEstablecimiento>("", parameters, options);
    //     var result = await formModal.Result;

    //     if (result.Cancelled)
    //     {
    //         Console.WriteLine("Modal was cancelled");
    //         await grid.GoToPage(currentPage);
    //     }
    //     else
    //     {
    //         await Get();
    //         await grid.GoToPage(currentPage);
    //     }
    // }


}
