@inherits LayoutComponentBase

<NavMenu /> 
<div class="grid-container">
<main class="container">
    @Body
</main>

<footer class="footer">
    <div class="container">
        <p>&copy; 2023 IanTechSolutions. All rights reserved.</p>
    </div>
</footer>
</div>