@inherits LayoutComponentBase

<NavMenu />
<div class="grid-container">
    <main class="container">
        @Body

    </main>

</div>
<RadzenFooter>
    <p>&copy; 2023 IanTechSolutions. All rights reserved.</p>
</RadzenFooter>