@inherits LayoutComponentBase

<NavMenu />
<div class="grid-container">
    <main class="container">
        @Body

    </main>

</div>
<br />
<br />
<br />
<RadzenFooter Style="border-top:1px solid darkgrey">
    <p>&copy; 2023 IanTechSolutions. All rights reserved.</p>
</RadzenFooter>