<nav class="navbar navbar-expand-md bg-blue-300 mb-4">
    <div class="container-fluid">
        <a href="" class="pr-5"<img src="images/logo.png" class="pb-3 font-bold text-xl h-26 w-40 pt-3" style="padding-right:10px"alt="Logo"></a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            @*<span class="navbar-toggler-icon"></span>*@
            <FeatherList Color="black"></FeatherList>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="text-green-800 hover:text-green-800 hover:bg-blue-400 rounded-2xl">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All" style="color:#13622b">
                        Inicio
                    </NavLink>
                </li>
                <li class="nav-item group ">
                    <span class="text-green-800 nav-link hover:text-green-800 group group-hover:bg-blue-400 rounded-2xl">Socios</span>
                <li class="nav-item-content rounded-xl" style="background-color:#93C5FD">
                    <div>
                        <NavLink class="dropdown nav-link text-green-800 hover:text-green-800 bg-blue-300 hover:bg-blue-400 rounded-md" href="socios">
                            &nbspListado
                        </NavLink>
                    </div>
                    <div>
                        <NavLink class="dropdown nav-link text-green-800 hover:text-green-800 bg-blue-300 hover:bg-blue-400 rounded-md" href="establecimientos">
                            &nbspEstablecimientos
                        </NavLink>
                    </div>
                </li>
                <li class="nav-item-content rounded-full">

                </li>
                </li>
                <li class="nav-item group ">
                    <span class="text-green-800 nav-link hover:text-green-800 group group-hover:bg-blue-400 hover:bg-blue-400 rounded-2xl">Planteles</span>
                <li class="nav-item-content rounded-xl" style="background-color:#93C5FD">
                    <NavLink class="dropdown nav-link text-green-800 hover:text-green-800 bg-blue-300 hover:bg-blue-400 rounded-md" href="Planteles">
                        &nbspListado
                    </NavLink>
                </li>
                </li>

                <li class="nav-item group ">
                    <span class="text-green-800 nav-link hover:text-green-800 group group-hover:bg-blue-400 rounded-2xl">Inspecciones</span>
                <li class="nav-item-content rounded-xl" style="background-color:#93C5FD">
                    <div>
                        <NavLink class="dropdown nav-link text-green-800 hover:text-green-800 bg-blue-300 hover:bg-blue-400 rounded-md" href="Inspectores">
                            &nbspInspectores
                        </NavLink>
                    </div>
                    <div>
                        <NavLink class="dropdown nav-link text-green-800 hover:text-green-800 bg-blue-300 hover:bg-blue-400 rounded-md" href="solicitudesinspeccion">
                            &nbspSolicitudes
                        </NavLink>
                    </div>
                    <div>
                        <NavLink class="dropdown nav-link text-green-800 hover:text-green-800 bg-blue-300 hover:bg-blue-400 rounded-md" href="reportes">
                            &nbspResultados
                        </NavLink>
                    </div>
                </li>
                <li class="nav-item-content rounded-full">

                </li>
                </li>
                <li class="nav-item group ">
                    <span class="text-green-800 nav-link hover:text-green-800 group group-hover:bg-blue-400 rounded-2xl">Toros</span>
                <li class="nav-item-content rounded-xl" style="background-color:#93C5FD">
                    <div>
                        <NavLink class="dropdown nav-link text-green-800 hover:text-green-800 bg-blue-300 hover:bg-blue-400 rounded-md" href="toros">
                            &nbspListado
                        </NavLink>
                    </div>
                </li>
                <li class="nav-item-content rounded-full">

                </li>
                </li>
                <li class="nav-item group ">
                    <span class="text-green-800 nav-link hover:text-green-800 group group-hover:bg-blue-400 rounded-2xl">Centros de IA</span>
                <li class="nav-item-content rounded-xl" style="background-color:#93C5FD">
                    <div>
                        <NavLink class="dropdown nav-link text-green-800 hover:text-green-800 bg-blue-300 hover:bg-blue-400 rounded-md" href="centros">
                            &nbspListado
                        </NavLink>
                    </div>
                </li>
                <li class="nav-item-content rounded-full">

                </li>
                </li>
                <li class="nav-item group ">
                    <span class="text-green-800 nav-link hover:text-green-800 group group-hover:bg-blue-400 rounded-2xl">Certificados de semen</span>
                <li class="nav-item-content rounded-xl" style="background-color:#93C5FD">
                    <div>
                        <NavLink class="dropdown nav-link text-green-800 hover:text-green-800 bg-blue-300 hover:bg-blue-400 rounded-md" href="certificados">
                            &nbspListado
                        </NavLink>
                    </div>
                </li>
                <li class="nav-item-content rounded-full">

                </li>
                </li>
                <li class="nav-item group ">
                    <span class="text-green-800 nav-link hover:text-green-800 group group-hover:bg-blue-400 rounded-2xl">Transferencias</span>
                <li class="nav-item-content rounded-xl" style="background-color:#93C5FD">
                    <div>
                        <NavLink class="dropdown nav-link text-green-800 hover:text-green-800 bg-blue-300 hover:bg-blue-400 rounded-md" href="transan">
                            &nbspAnimales
                        </NavLink>
                    </div>
                    <div>
                        <NavLink class="dropdown nav-link text-green-800 hover:text-green-800 bg-blue-300 hover:bg-blue-400 rounded-md" href="transsb">
                            &nbspToros S/
                        </NavLink>
                    </div>
                    <div>
                        <NavLink class="dropdown nav-link text-green-800 hover:text-green-800 bg-blue-300 hover:bg-blue-400 rounded-md" href="transfu">
                            &nbspFuturo Control
                        </NavLink>
                    </div>

                </li>
                <li class="nav-item-content rounded-full">

                </li>
                </li>
                <li class="nav-item group ">
                    <span class="text-green-800 nav-link hover:text-green-800 group group-hover:bg-blue-400 rounded-2xl">Declaraciones de servicio</span>
                <li class="nav-item-content rounded-xl" style="background-color:#93C5FD">
                    <div>
                        <NavLink class="dropdown nav-link text-green-800 hover:text-green-800 bg-blue-300 hover:bg-blue-400 rounded-md" href="declaraciones">
                            &nbspListado
                        </NavLink>
                    </div>
                </li>
                <li class="nav-item-content rounded-full">

                </li>
                </li>
                <li class="nav-item group ">
                    <span class="text-green-800 nav-link hover:text-green-800 group group-hover:bg-blue-400 rounded-2xl">Reportes</span>
                <li class="nav-item-content rounded-xl" style="background-color:#93C5FD">
                    <div>
                        <NavLink class="dropdown nav-link text-green-800 hover:text-green-800 bg-blue-300 hover:bg-blue-400 rounded-md" href="informes">
                            &nbspCrear Reporte
                        </NavLink>
                    </div>
                </li>
                <li class="nav-item-content rounded-full">

                </li>
                </li>

                <li class="nav-item group" >
                    <span class="text-green-800 nav-link hover:text-green-800 group group-hover:bg-blue-400 rounded-2xl"><FeatherUser Color="#166534"></FeatherUser></span>
                    <li class="nav-item-content rounded-xl" style="background-color:#93C5FD;right:0px">
                        <div style="position:relative">
                            <NavLink class="dropdown nav-link text-green-800 hover:text-green-800 bg-blue-300 hover:bg-blue-400 rounded-md" href="usuarios">
                                &nbspVer usuarios
                            </NavLink>
                        </div>
                        <div style="position:relative">
                            <NavLink class="dropdown nav-link text-green-800 hover:text-green-800 bg-blue-300 hover:bg-blue-400 rounded-md" href="registrousuario">
                                &nbspCrear usuario
                            </NavLink>
                        </div>
                        <div style="position:relative">
                            <NavLink class="dropdown nav-link text-green-800 hover:text-green-800 bg-blue-300 hover:bg-blue-400 rounded-md" href="logout">
                                &nbspCerrar sesion
                            </NavLink>
                        </div>
                    </li>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}