@page "/Logout"
@inject NavigationManager uriHelper
@inject ILoginServices loginService

<p>Saliendo....</p>

@code {

    protected async override Task OnInitializedAsync()
    {
        await loginService.Logout();
    }
}
