@page "/transacciones"
@inject HttpClient Http
@using PaginaToros.Client.Pages.Transacciones
@using CurrieTechnologies.Razor.SweetAlert2
<h3 style="position:relative;right:100px">Transacciones</h3>

<button style="position:relative;right:100px" class="btn btn-outline-primary" @onclick="()=>add(0)">Agregar Transaccion</button>

@if (oRespuesta.List != null)
{
    <button style="outline:none; float: right;height:100%;" class="btn btn-outline" @onclick="() => CambiarModoFiltro()"><FeatherFilter Color="Black"></FeatherFilter></button>
    <br />
    <br />
    <RadzenDataGrid AllowFiltering="allowFiltering" AllowColumnResize="true" AllowAllowAlternatingRows="true" FilterMode="FilterMode.Simple" AllowSorting="true" PageSize="50"
                AllowPaging="true" ShowPagingSummary="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @ref="grid"
                Data="@oRespuesta.List" TItem="Transaccione" ColumnWidth="50px" LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn TItem="Transaccione" Property="NombreComprador" Title="Comprador" Width="60px" />
            <RadzenDataGridColumn TItem="Transaccione" Property="NombreVendedor" Title="Vendedor" Width="60px" />
            <RadzenDataGridColumn TItem="Transaccione" Property="Fecha" Title="Fecha" Width="50px">
                <Template Context="data">
                    <span>@data.Fecha.Value.ToString("dd/MM/yyyy")</span>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Transaccione" Property="TotalVaquillonas" Title="Total de Vaquillonas" Width="80px" />
            <RadzenDataGridColumn TItem="Transaccione" Property="TotalToros" Title="Total De Toros" Width="80px"/>
            <RadzenDataGridColumn TItem="Transaccione" Property="Toros" Title="Toros" Width="80px" />
            <RadzenDataGridColumn TItem="Transaccione" Property="" Title="" Filterable="false" Width="30px">
                    <Template Context="data">
                        <button class="btn" position="absolute" title="Editar Transaccion" @onclick="() => add(data.Id)"><FeatherEdit Color="green" /></button>
                    </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Transaccione" Property="" Title="" Filterable="false" Width="30px">
                <Template Context="data">
                    <button class="btn" title="Eliminar" @onclick="() => alertaDelete(data.Id)"><FeatherTrash2 Color="red" /></button>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Transaccione" Property="" Title="" Filterable="false" Width="30px">
                <Template Context="data">
                    <button class="btn" title="Ver info" @onclick="() => gotoinfo(data.Id)"><FeatherInfo Color="blue" /></button>
                </Template>
            </RadzenDataGridColumn>
        </Columns>

    </RadzenDataGrid>
}
else
{
    <br />
    <center>
        <div class="mb-2">
            <RadzenProgressBar style="position:relative;right:100px;width:1300px;" Value="100" ShowValue="false" ProgressBarStyle="ProgressBarStyle.Secondary" Mode="ProgressBarMode.Indeterminate" />
        </div>
    </center>
}

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    public bool allowFiltering = false; 
    public string Url = "/api/TransaccioneData";
    public RadzenDataGrid<Transaccione>? grid;
    int currentPage;
    public Respuesta<List<Transaccione>> oRespuesta = new Respuesta<List<Transaccione>>();
    protected override async Task OnInitializedAsync()
    {
        await Get();
    }
    async Task Get()
    {
        var respuesta = await Http.GetFromJsonAsync<Respuesta<List<Transaccione>>>(Url);
        oRespuesta = respuesta;
        StateHasChanged();
    }
    public void CambiarModoFiltro()
    {
        allowFiltering = !allowFiltering;
        StateHasChanged();
    }


    async Task delete(int id)
    {
        currentPage = grid.CurrentPage;
        await Http.DeleteAsync($"/api/TransaccioneData/{id}");
        await Get();
        if (currentPage >= grid.Count / grid.PageSize && grid.Count != 0)
        {
            await grid.GoToPage(currentPage - 1);
        }
        else if (grid.Count != 0)
        {
            await grid.GoToPage(currentPage);
        }

    }

    public async Task alertaDelete(int id)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "¿Está seguro?",
                Text = "Se eliminará esta transaccion",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Eliminar",
                CancelButtonText = "Cancelar"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            delete(id);

        }
        else if (result.Dismiss == DismissReason.Cancel)
        {

        }
    }

    async Task add(int Id)
    {
        
        if (Id != 0)
        {
            currentPage = grid.CurrentPage;
            try{
                var parameters = new ModalParameters();
                parameters.Add(nameof(AddTransaccion.id), Id);
                var formModal = Modal.Show<AddTransaccion>("Editar Transaccion",parameters);
                var result = await formModal.Result;
                if (result.Cancelled)
                {
                    Console.WriteLine("Modal was cancelled");
                    await grid.GoToPage(currentPage);
                }
                else
                {
                    await Get();
                    await grid.GoToPage(currentPage);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }
        else
        {
            var formModal = Modal.Show<AddTransaccion>("Agregar Transaccion");
            var result = await formModal.Result;

            if (result.Cancelled)
            {
                Console.WriteLine("Modal was cancelled");
                await grid.GoToPage(currentPage);
            }
            else
            {
                await Get();
                await grid.GoToPage(currentPage);
            }
        }
    }
    async Task gotoinfo(int id)
    {
        currentPage = grid.CurrentPage;
        var parameters = new ModalParameters();
        var options = new ModalOptions()
            {
                HideHeader = true,
                HideCloseButton = true
            };
        parameters.Add(nameof(InfoTransacciones.id), id);
        var formModal = Modal.Show<InfoTransacciones>("", parameters, options);
        var result = await formModal.Result;

        if (result.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
            await grid.GoToPage(currentPage);
        }
        else
        {
            await Get();
            await grid.GoToPage(currentPage);
        }
    }
}
