@using Blazored.Typeahead
<style>
    .bm-title {
        font-size: 25px;
        font-weight: bold;
    }
</style>
<div class="card" >
<div class="card-body">
    <EditForm Model="@oResin4" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />
        <table class="table table-bordered text-center">
            <tbody>
            <tr>
                <th style="background-color:#008000">Sexo:</th>
                <td><strong>@oResin4.Sexo</strong></td>
            </tr>
            <tr>
                <td>Promedio Edad:</td>
                <td bgcolor="#FFFFFF">
                    <RadzenNumeric @bind-Value=@oResin4.Pedad Style="width: 100%; max-width: 400px;" />
                </td>
            </tr>
            <tr>
                <td>Promedio Peso:</td>
                <td bgcolor="#FFFFFF">
                    <RadzenNumeric @bind-Value=@oResin4.Ppeso Style="width: 100%; max-width: 400px;" />
                </td>
            </tr>
            <tr>
                <td style="background-color:#CCCCCC">Min. Edad:</td>
                <td>
                    <RadzenNumeric @bind-Value=@oResin4.Iedad Style="width: 100%; max-width: 400px;" />
                </td>
            </tr>
            <tr>
                <td style="background-color:#CCCCCC">Max. Edad:</td>
                <td bgcolor="#FFFFFF">
                    <RadzenNumeric @bind-Value=@oResin4.Medad Style="width: 100%; max-width: 400px;" />
                </td>
            </tr>
            <tr>
                <td style="background-color:#999999">Min. Peso:</td>
                <td bgcolor="#FFFFFF">
                    <RadzenNumeric @bind-Value=@oResin4.Ipeso Style="width: 100%; max-width: 400px;" />
                </td>
            </tr>
            <tr>
                <td style="background-color:#999999">Max. Peso:</td>
                <td bgcolor="#FFFFFF">
                    <RadzenNumeric @bind-Value=@oResin4.Mpeso Style="width: 100%; max-width: 400px;" />
                </td>
            </tr>
            <tr>
                <td style="background-color:#333333;color:#FFF">Diente de leche %:</td>
                <td bgcolor="#FFFFFF">
                    <RadzenNumeric @bind-Value=@oResin4.Pdl Style="width: 100%; max-width: 400px;" />
                </td>
            </tr>
            <tr>
                <td style="background-color:#333333;color:#FFF">Dos dientes %:</td>
                <td bgcolor="#FFFFFF">
                    <RadzenNumeric @bind-Value=@oResin4.P2d Style="width: 100%; max-width: 400px;" />
                </td>
            </tr>
            <tr>
                <td style="background-color:#333333;color:#FFF">Cuatro dientes %:</td>
                <td bgcolor="#FFFFFF">
                    <RadzenNumeric @bind-Value=@oResin4.P4d Style="width: 100%; max-width: 400px;" />
                </td>
            </tr>

            </tbody>
        </table>
        <br />
        <br />
        <button type="submit" class="btn btn-primary mr-2">Aceptar</button>
        <button type="button" @onclick="cancel" class="btn btn-light">Cancelar</button>
        </EditForm>
    </div>
</div>

@code {
    Resin4 oResin4 = new();
    Respuesta<Resin4> oRespuesta = new();
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int Id { get; set; }
    [Parameter] public string nrores { get; set; }
    [Parameter] public string sexo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            try
            {
                oRespuesta = await Http.GetFromJsonAsync<Respuesta<Resin4>>($"/api/Resin4/{Id}");
                oResin4 = oRespuesta.List;

            }
            catch (Exception ex)
            {
                oRespuesta.Mensaje = ex.Message;
            }
        }
        else
        {
            oResin4.Sexo = sexo;
        }
    }
    async Task Guardar()
    {
        if (Id == 0)
        {
            oResin4.Nrores = nrores;
            await Http.PostAsJsonAsync<Resin4>("/api/Resin4", oResin4);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
        else
        {
            await Http.PutAsJsonAsync<Resin4>("/api/Resin4", oResin4);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
    }
    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was cancelled"));

    }
}
