@if (botonclick == "vaqpr")
{
    <div class="row" style="width=100%;">
        <div class="col-sm">
            <label class="col-sm">Presentadas</label><br />
            <RadzenNumeric TValue="double?" @bind-Value=oResin6.Hdp />
            <br />
        </div>
        <div class="col-sm">
            <label class="col-sm">Mochas Marcadas</label>
            <RadzenNumeric TValue="double?" @bind-Value=oResin6.HdpM />
            <br />
        </div>
        <div class="col-sm">
            <label class="col-sm">Astadas Marcadas</label>
            <RadzenNumeric TValue="double?" @bind-Value=oResin6.HdpAs />
            <br />
        </div>
    </div>
}
@if (botonclick == "otrospr")
{
    <div class="row" style="width=100%;">
        <div class="col-sm">
            <label class="col-sm">Presentadas</label><br />
            <RadzenNumeric TValue="double?" @bind-Value=oResin6.Hpp />
            <br />
        </div>
        <div class="col-sm">
            <label class="col-sm">Mochas Marcadas</label>
            <RadzenNumeric TValue="int?" @bind-Value=oResin6.HppM />
            <br />
        </div>
        <div class="col-sm">
            <label class="col-sm">Astadas Marcadas</label>
            <RadzenNumeric TValue="int?" @bind-Value=oResin6.HppAs/>
            <br />
        </div>
    </div>
}
@if (botonclick == "vacvip")
{
    <div class="row" style="width=100%;">
        <div class="col-sm">
            <label class="col-sm">Presentadas</label><br />
            <RadzenNumeric TValue="double?" @bind-Value=oResin6.Hgvp />
            <br />
        </div>
        <div class="col-sm">
            <label class="col-sm">VIP Total</label>
            <br />
            <RadzenNumeric TValue="double?" @bind-Value=oResin6.Hgvb />
            <br />
        </div>
    </div>
}
@if (botonclick == "vaqvip")
{
    <div class="row" style="width=100%;">
        <div class="col-sm">
            <label class="col-sm">Presentadas</label><br />
            <RadzenNumeric TValue="double?" @bind-Value=oResin6.Hgqp />
            <br />
        </div>
        <div class="col-sm">
            <label class="col-sm">VIP Total</label>
            <br />
            <RadzenNumeric TValue="double?" @bind-Value=oResin6.Hgqb />
            <br />
        </div>
    </div>
}
@if (botonclick == "scp")
{
    <div class="row" style="width=100%;">
        <div class="col-sm">
            <label class="col-sm">Presentados</label><br />
            <RadzenNumeric TValue="double?" @bind-Value=oResin6.Mcp />
            <br />
        </div>
        <div class="col-sm">
            <label class="col-sm">PR Mochos</label>
            <br />
            <RadzenNumeric TValue="double?" @bind-Value=oResin6.McpM />
            <br />
        </div>
        <div class="col-sm">
            <label class="col-sm">PR Astados</label>
            <br />
            <RadzenNumeric TValue="double?" @bind-Value=oResin6.McpAs />
            <br />
        </div>
    </div>
}
@if (botonclick == "cp")
{
    <div class="row" style="width=100%;">
        <div class="col-sm">
            <label class="col-sm">Presentados</label><br />
            <RadzenNumeric TValue="double?" @bind-Value=oResin6.Msp />
            <br />
        </div>
        <div class="col-sm">
            <label class="col-sm">PR Mochos</label>
            <RadzenNumeric TValue="double?" @bind-Value=oResin6.MspM />
            <br />
        </div>
        <div class="col-sm">
            <label class="col-sm">PR Astados</label>
            <RadzenNumeric TValue="double?" @bind-Value=oResin6.MspAs />
            <br />
        </div>
        <div class="col-sm">
            <label class="col-sm">Control S/</label>
            <RadzenNumeric TValue="double?" @bind-Value=oResin6.Mspsb />
            <br />
        </div>
    </div>
}
<br/>
<button type="button" @onclick="Guardar" class="btn btn-primary mr-2">Aceptar</button>
<button type="button" @onclick="cancel" class="btn btn-light">Cancelar</button>

@code {
    Resin6 oResin6  = new();
    Respuesta<Resin6> oRespuesta = new();
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int Id { get; set; }
    [Parameter] public string botonclick { get; set; }
    [Parameter] public string numeroRes { get; set; }


    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            try
            {
                oRespuesta = await Http.GetFromJsonAsync<Respuesta<Resin6>>($"/api/Resin6/{Id}");
                oResin6 = oRespuesta.List;

            }
            catch (Exception ex)
            {
                oRespuesta.Mensaje = ex.Message;
            }
        }
    }
    async Task Guardar()
    {
        oResin6.Nrores = numeroRes;
        if (Id == 0)
        {
            await Http.PostAsJsonAsync<Resin6>("/api/Resin6", oResin6);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
        else
        {
            await Http.PutAsJsonAsync<Resin6>("/api/Resin6", oResin6);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
    }
    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was cancelled"));

    }
}
