@using Blazored.Typeahead
<style>
    .bm-title{
        font-size:25px;
        font-weight: bold;
    }
</style>
<div class="card" >
    <div class="card-body">
        <EditForm Model="@oMovimientosRe" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <div class="row" style="width=100%;">
                <div class="col-sm-5">
                    <RadzenDropDown @bind-Value=@movimiento Placeholder="Seleccione el movimiento" Data=@movimientos Style="width: 100%; max-width: 400px;" />
                </div>
                <div class="col-sm-2"/>
                <div class="col-sm-5">
                    <RadzenDropDown @bind-Value=@motivo Placeholder="Seleccione el motivo" Data=@motivos Style="width: 100%; max-width: 400px;" />
                </div>
            </div>
            <br/>
            <div class="row" style="width=100%;">
                <div class="col-sm-3" />
                <div class="col-sm-6" >
                    <RadzenText TextStyle="TextStyle.H5" Style="background:#008000;color:white;text-align:center">PURO REGISTRADO</RadzenText>
                </div>
                <div class="col-sm-3" />
            </div>
            <br />
            <div class="row" style="width=100%;">
                <div class="col-sm-4">
                    <label>Vacas</label>
                    <RadzenNumeric @bind-Value=@oMovimientosRe.Rdvac Style="width: 100%; max-width: 400px;" />
                </div>
                <div class="col-sm-4">
                    <label>Vaquillonas c/Servicio:</label>
                    <RadzenNumeric @bind-Value=@oMovimientosRe.Rdvaqcs Style="width: 100%; max-width: 400px;" />
                </div>
                <div class="col-sm-4">
                    <label>Vaquillonas sin servicio</label>
                    <RadzenNumeric @bind-Value=@oMovimientosRe.Rdvaqss Style="width: 100%; max-width: 400px;" />
                </div>
            </div>
            <br/>
            <br/>
            <div class="row" style="width=100%;">
                <div class="col-sm-3" />
                <div class="col-sm-6">
                    <RadzenText TextStyle="TextStyle.H5" Style="background:#008000;color:white;text-align:center">VIP</RadzenText>
                </div>
                <div class="col-sm-3" />
            </div>
            <br/>
            <div class="row" style="width=100%;">
                <div class="col-sm-4">
                    <label>Vacas</label>
                    <RadzenNumeric @bind-Value=@oMovimientosRe.Rpvac Style="width: 100%; max-width: 400px;" />
                </div>
                <div class="col-sm-4">
                    <label>Vaquillonas sin servicio o preñadas</label>
                    <RadzenNumeric @bind-Value=@oMovimientosRe.Rpvaqcs Style="width: 100%; max-width: 400px;" />
                </div>
                <div class="col-sm-4">
                    <label>Vaquillonas con servicio</label>
                    <RadzenNumeric @bind-Value=@oMovimientosRe.Rpvaqss Style="width: 100%; max-width: 400px;" />
                </div>
            </div>

            <br />
            <br />
            <button type="submit" class="btn btn-primary mr-2">Aceptar</button>
            <button type="button" @onclick="cancel" class="btn btn-light">Cancelar</button>
        </EditForm>
    </div>
</div>
@code {
    MovimientosRe oMovimientosRe = new();
    Respuesta<MovimientosRe> oRespuesta = new();
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public int Id { get; set; }
    [Parameter] public string numeroRes { get; set; }
    List<string> movimientos = new List<string> { "Entrada","Salida"};
    string movimiento = "";
    List<string> motivos = new List<string> { "Compras", "Ventas", "Cambio Categoria", "Por Inspeccion", "Epidemias", "Rechazos", "Otros", /* rest of elements */ };
    string motivo = "";
    Dictionary<string, string> traductorMotivos = new Dictionary<string, string>{
        {"Compras","CO"},
        {"Ventas","VE"},
        {"Cambio Categoria","CC"},
        {"Por Inspeccion","PI"},
        {"Epidemias","EP"},
        {"Rechazos","RE"},
        {"Otros","OT"}
    };

    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            try
            {
                oRespuesta = await Http.GetFromJsonAsync<Respuesta<MovimientosRe>>($"/api/MovimientosRe/{Id}");
                oMovimientosRe = oRespuesta.List;

            }
            catch (Exception ex)
            {
                oRespuesta.Mensaje = ex.Message;
            }
        }
    }
    async Task Guardar()
    {
        oMovimientosRe.Nrores = numeroRes;
        oMovimientosRe.Tipmov = movimiento.Substring(0, 1);
        oMovimientosRe.Ctomov = traductorMotivos[motivo];
        if (Id == 0)
        {
            await Http.PostAsJsonAsync<MovimientosRe>("/api/MovimientosRe", oMovimientosRe);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
        else
        {
            await Http.PutAsJsonAsync<MovimientosRe>("/api/MovimientosRe", oMovimientosRe);
            await ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));
        }
    }
    async Task cancel()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok($"Form was cancelled"));

    }
}
