@page "/declaraciones"
@using PaginaToros.Shared.Models.Response
@using PaginaToros.Shared.Models
@inject HttpClient Http
<style>

    .rz-cell-data,
    .rz-column-title-content {
        font-size: 13px !important;
    }

    .rz-cell-data {
        overflow: visible !important;
        white-space: normal !important;
    }

    .tablacontent th.rz-unselectable-text.rz-text-align-left {
        background-color: #82D682;
    }

    .rz-paginator {
        border-top: solid #E0E0E0 1px;
    }
</style>
<h3 class="pb-3 font-bold text-xl" style="position:relative">Declaraciones de servicio</h3>


<button class="font-bold px-4 py-3 rounded-2xl bg-gray-200 hover:bg-gray-300 hover:border-transparent transition ease-in duration-100 transform hover:-translate-y-1 active:translate-y-0" style="position:relative" @onclick="()=>add(0)">Agregar Declaracion</button>



@if (oRespuesta.List != null)
{

    <button style="outline:none; float: right;margin-right:15px;height:100%;" class="px-3 py-3 rounded-2xl bg-gray-200 hover:bg-gray-300 hover:border-transparent transition ease-in duration-100 transform hover:-translate-y-1 active:translate-y-0" @onclick="() => CambiarModoFiltro()"><FeatherFilter Color="Black"></FeatherFilter></button>
    <br />
    <br />
    <div class="tablacontent" style="position:relative;width:1500px;">
        <RadzenDataGrid AllowFiltering="allowFiltering" AllowColumnResize="true" AllowAllowAlternatingRows="true" FilterMode="FilterMode.Simple" AllowSorting="false" PageSize="15"
                        Density="Density.Compact" AllowPaging="true" ShowPagingSummary="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @ref="grid"
                        Data="@oRespuesta.List" TItem="Desepla1" ColumnWidth="50px" LogicalFilterOperator="LogicalFilterOperator.Or" PagerHorizontalAlign="HorizontalAlign.Center">
            <Columns>
                <RadzenDataGridColumn TItem="Desepla1" Property="Nrodec" Title="Nro de declaracion" Width="100px" />
                <RadzenDataGridColumn TItem="Desepla1" Property="NrFolio" Title="Nro de folio" Width="50px" />
                <RadzenDataGridColumn TItem="Desepla1" Property="Nroplan" Title="Nro de plantel" Width="50px" />
                <RadzenDataGridColumn TItem="Desepla1" Property="NombreSocio" Title="Socio" Width="110px" />
                <RadzenDataGridColumn TItem="Desepla1" Property="Desde" Title="Desde" Width="70px">
                    <Template Context="data">
                        @if(data.Desde.HasValue){
                            <a>@data.Desde.Value.ToString("dd/MM/yyyy")</a>
                        }
                        else{

                        }
                    </Template>     
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Desepla1" Property="Hasta" Title="Hasta" Width="70px">
                    <Template Context="data">
                        @if (data.Hasta.HasValue)
                        {
                            <a>@data.Hasta.Value.ToString("dd/MM/yyyy")</a>
                        }
                        else
                        {

                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Desepla1" Property="Fchrecepcion" Title="Fecha de recepcion" Width="70px">
                    <Template Context="data">
                        @if (data.Fchrecepcion.HasValue)
                        {
                            <a>@data.Fchrecepcion.Value.ToString("dd/MM/yyyy")</a>
                        }
                        else
                        {

                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Desepla1" Property="Tipse" Title="Tipo de servicio" Width="75px" />

                <RadzenDataGridColumn TItem="Desepla1" Property="" Title="" Filterable="false" Width="50px">
                    <Template Context="data">
                        <button class="btn" position="absolute" title="Editar Declaracion" @onclick="() => add(data.Id)"><FeatherEdit Size="16" Color="green" /></button>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Desepla1" Property="" Title="" Filterable="false" Width="50px">
                    <Template Context="data">
                        <button class="btn" title="Eliminar" @onclick="() => alertaDelete(data.Id)"><FeatherTrash2 Size="16" Color="red" /></button>
                    </Template>
                </RadzenDataGridColumn>
@*                 <RadzenDataGridColumn TItem="Desepla1" Property="" Title="" Filterable="false" Width="30px">
                    <Template Context="data">
                        <button class="btn" title="Ver info" @onclick="() => gotoinfo(data.Id)"><FeatherInfo Color="blue" /></button>
                    </Template>
                </RadzenDataGridColumn> *@
            </Columns>

        </RadzenDataGrid>
    </div>
    <br />
}
else
{
    <br />
    <center>
        <div class="mb-2">
            <br />
            <RadzenProgressBar style="position:relative;width:1500px;" Value="100" ShowValue="false" ProgressBarStyle="ProgressBarStyle.Primary" Mode="ProgressBarMode.Indeterminate" />
        </div>
    </center>
}

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    public RadzenDataGrid<Desepla1>? grid;
    int currentPage;
    public bool allowFiltering = false;
    public string Url = "/api/desepla1";
    public Respuesta<List<Desepla1>> oRespuesta = new Respuesta<List<Desepla1>>();
    protected override async Task OnInitializedAsync()
    {
        await Get();
    }
    async Task Get()
    {
        var respuesta = await Http.GetFromJsonAsync<Respuesta<List<Desepla1>>>(Url);
        respuesta.List = respuesta.List.OrderByDescending(x => x.Id).ToList();
        oRespuesta = respuesta;
        StateHasChanged();
    }
    public void CambiarModoFiltro()
    {
        allowFiltering = !allowFiltering;
        StateHasChanged();
    }

    async Task delete(int id)
    {
        currentPage = grid.CurrentPage;
        await Http.DeleteAsync($"/api/desepla1/{id}");
        await Get();
        if (currentPage >= grid.Count / grid.PageSize && grid.Count != 0)
        {
            await grid.GoToPage(currentPage - 1);
        }
        else if (grid.Count != 0)
        {
            await grid.GoToPage(currentPage);
        }

    }

    public async Task alertaDelete(int id)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "¿Está seguro?",
                Text = "Se eliminará este inspector",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Eliminar",
                CancelButtonText = "Cancelar"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            delete(id);

        }
        else if (result.Dismiss == DismissReason.Cancel)
        {

        }
    }

    async Task add(int Id)
    {
        int numero = Id;
        if (numero != 0)
        {
            currentPage = grid.CurrentPage;
            try
            {
                var parameters = new ModalParameters();
                parameters.Add(nameof(AddDeclaracion.Id), Id);
                var options = new ModalOptions()
                    {
                        Size = ModalSize.ExtraLarge
                    };
                var formModal = Modal.Show<AddDeclaracion>("Editar Inspector", parameters, options);
                var result = await formModal.Result;
                if (result.Cancelled)
                {
                    Console.WriteLine("Modal was cancelled");
                    await grid.GoToPage(currentPage);
                }
                else
                {
                    await Get();
                    await grid.GoToPage(currentPage);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }
        else
        {
            var options = new ModalOptions()
                {
                    Size = ModalSize.ExtraLarge
                };
            var formModal = Modal.Show<AddDeclaracion>("Agregar Inspector", options);
            var result = await formModal.Result;

            if (result.Cancelled)
            {
                Console.WriteLine("Modal was cancelled");
                await grid.GoToPage(currentPage);
            }
            else
            {
                await Get();
                await grid.GoToPage(currentPage);
            }
        }
    }
    // async Task gotoinfo(int id)
    // {
    //     currentPage = grid.CurrentPage;
    //     var parameters = new ModalParameters();
    //     var options = new ModalOptions()
    //         {
    //             HideHeader = true,
    //             HideCloseButton = true,
    //             Size = ModalSize.ExtraLarge
    //         };
    //     parameters.Add(nameof(InfoInspector.id), id);
    //     var formModal = Modal.Show<InfoInspector>("", parameters, options);
    //     var result = await formModal.Result;

    //     if (result.Cancelled)
    //     {
    //         Console.WriteLine("Modal was cancelled");
    //         await grid.GoToPage(currentPage);
    //     }
    //     else
    //     {
    //         await Get();
    //         await grid.GoToPage(currentPage);
    //     }
    // }
}

