@import '_content/Blazored.Modal/Blazored.Modal.bundle.scp.css';

/* /Pages/Auth/Login.razor.rz.scp.css */
@@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page[b-tgne2ftlmg] {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.login-page[b-tgne2ftlmg] {
    /* Estilos para el contenido de la página de inicio de sesión */
    margin-top: 6%;
    margin-left: 5%;
}

.form[b-tgne2ftlmg] {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 6.6%;
    padding: 3%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

    .form input[b-tgne2ftlmg] {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button[b-tgne2ftlmg] {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

        .form button:hover[b-tgne2ftlmg], .form button:active[b-tgne2ftlmg], .form button:focus[b-tgne2ftlmg] {
            background: #43A047;
        }

    .form .message[b-tgne2ftlmg] {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

        .form .message a[b-tgne2ftlmg] {
            color: #4CAF50;
            text-decoration: none;
        }

    .form .register-form[b-tgne2ftlmg] {
        display: none;
    }

.container[b-tgne2ftlmg] {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

    .container[b-tgne2ftlmg]:before, .container[b-tgne2ftlmg]:after {
        content: "";
        display: block;
        clear: both;
    }

    .container .info[b-tgne2ftlmg] {
        margin: 3.33% auto;
        text-align: center;
    }

        .container .info h1[b-tgne2ftlmg] {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
        }

        .container .info span[b-tgne2ftlmg] {
            color: #4d4d4d;
            font-size: 12px;
        }

            .container .info span a[b-tgne2ftlmg] {
                color: #000000;
                text-decoration: none;
            }

            .container .info span .fa[b-tgne2ftlmg] {
                color: #EF3B3A;
            }

.img[b-tgne2ftlmg] {
    padding-bottom:4vh;
    
    width:25vh;
}

body[b-tgne2ftlmg] {
    background: #76b852; /* fallback for old browsers */
    background: rgb(141,194,111);
    background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* /Pages/Informes/ReportePlantel.razor.rz.scp.css */
*[b-te855shaps] {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

p[b-te855shaps] {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
    margin: 5pt;
}

.s1[b-te855shaps] {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 18pt;
}

.s2[b-te855shaps] {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
}

table[b-te855shaps],
tbody[b-te855shaps] {
    vertical-align: top;
    overflow: visible;
}

td[b-te855shaps] {
    width: 120pt;
    border-top-style: solid;
    border-top-width: 1pt;
    border-left-style: solid;
    border-left-width: 1pt;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-right-style: solid;
    border-right-width: 1pt;
}

.s2[b-te855shaps] {
    padding-top: 3pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}

@media-print {

    .no-print[b-te855shaps] {
        display: none;
    }
    /*    .table {
        page-break-inside: auto; 
    }

    .todo{
        page-break-inside: avoid !important;
    }*/
    /*.page {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0px;
        -webkit-print-color-adjust: exact;
    }*/
}
/* /Pages/Informes/ReportPrint.razor.rz.scp.css */
*[b-9jexi7waaz] {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

p[b-9jexi7waaz] {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
    margin: 0pt;
}

.s1[b-9jexi7waaz] {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 18pt;
}

.s2[b-9jexi7waaz] {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
}

table[b-9jexi7waaz],
tbody[b-9jexi7waaz] {
    vertical-align: top;
    overflow: visible;
}

td[b-9jexi7waaz] {
    width: 120pt;
    border-top-style: solid;
    border-top-width: 1pt;
    border-left-style: solid;
    border-left-width: 1pt;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-right-style: solid;
    border-right-width: 1pt;
}

.s2[b-9jexi7waaz] {
    padding-top: 3pt;
    padding-left: 5pt;
    text-indent: 0pt;
    text-align: left;
}

/*    .table {
        page-break-inside: auto; 
    }

    .todo{
        page-break-inside: avoid !important;
    }*/

    /*.page {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0px;
        -webkit-print-color-adjust: exact;
    }*/

@media print {
    .no-print[b-9jexi7waaz] {
        display: none !important;
    }

    footer[b-9jexi7waaz] {
        display: none !important;
    }

    header[b-9jexi7waaz] {
        display: none !important;
    }

    html[b-9jexi7waaz], body[b-9jexi7waaz] {
        height: 99%;
    }

    .cuerpo[b-9jexi7waaz] {
        margin-top: 10px;
        display: block !important;
    }

    table[b-9jexi7waaz] {
        page-break-inside: auto
    }

    tr[b-9jexi7waaz] {
        page-break-inside: avoid;
        page-break-after: auto
    }

    td[b-9jexi7waaz] {
        padding: 0;
        margin: 0;
    }

    thead[b-9jexi7waaz] {
        display: table-header-group
    }

    tfoot[b-9jexi7waaz] {
        display: table-footer-group
    }

    .page[b-9jexi7waaz] {
        margin-left: 0;
        margin-right: 0;
        -webkit-print-color-adjust: exact;
    }
    body[b-9jexi7waaz] {
        /* this affects the margin on the content before sending to printer */
        margin-left: 0;
        margin-right: 0;
    }
}


.cuerpo[b-9jexi7waaz] {
    margin-top: 10px !important;
    width: 90% !important;
}

.container[b-9jexi7waaz] {
    width: 95% !important;
    justify-content: center;
    align-items: center;
}
/* /Shared/NavMenu.razor.rz.scp.css */



.navbar-custom .navbar-brand[b-uy3i3vcno8],
.navbar-custom .navbar-text[b-uy3i3vcno8],
.navbar-custom .nav-link[b-uy3i3vcno8],
.navbar-custom .nav-item[b-uy3i3vcno8],
.navbar-custom .navbar-nav[b-uy3i3vcno8] {
    color: #13622b;
}
    /*    .navbar-custom .nav-item {
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #73AD21;
}*/


.dropbtn[b-uy3i3vcno8] {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.nav-item[b-uy3i3vcno8] {
    background-color: transparent;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.nav-item-content[b-uy3i3vcno8] {
    background-color: transparent;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}



/* Links inside the dropdown */
.dropdown-content a[b-uy3i3vcno8] {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */


/* Show the dropdown menu on hover */
.nav-item:hover .nav-item-content[b-uy3i3vcno8] {
    display: block;
}
.nav-item:hover .nav-item-content[b-uy3i3vcno8] {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
